@if (TempData["ErrorMessage"] != null) {
<div class="alert alert-danger" role="alert">@TempData["ErrorMessage"]</div>
}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Header</h5>
          <a asp-action="Header" class="btn btn-primary">Edit Header</a>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">About</h5>
          <a asp-action="AboutMe" class="btn btn-primary">Edit About</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Education</h5>
          <a asp-action="Education" class="btn btn-primary">Edit Education</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Experience</h5>
          <a asp-action="Experience" class="btn btn-primary">Edit Experience</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Services</h5>
          <a asp-action="Service" class="btn btn-primary">Edit Service</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Portfolio</h5>
          <a asp-action="Portfolio" class="btn btn-primary">Edit Portfolio</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Contact</h5>
          <a asp-action="Contact" class="btn btn-primary">Edit Contact</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Messages</h5>
          <a asp-action="Messages" class="btn btn-primary">Show Messages</a>
        </div>
      </div>
    </div>
    <!-- Add more cards/buttons as needed -->
  </div>
</div>
