@model List<MyPortfolyoWebSite.Entity.Skill>

    <div class="container">
        <h2>Skill Form</h2>
        <div class="row">
            <div class="col-12">
                <div class="bg-white p-4">
                    <form id="skillsForm" asp-action="Skills" asp-controller="Admin" method="post">
                        <div id="skillsContainer">
                            <!-- Existing skills -->
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <div class="form-group row">
                                    <input type="hidden" name="skills[@i].SkillId" value="@Model[i].SkillId" />
                                    <label class="col-sm-2 col-form-label">Skill Name:</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="skills[@i].Name" value="@Model[i].Name" class="form-control" />
                                    </div>
                                    <label class="col-sm-2 col-form-label">Skill Value:</label>
                                    <div class="col-sm-3">
                                        <input type="number" name="skills[@i].Value" value="@Model[i].Value" class="form-control" min="0" max="100" />
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" onclick="removeSkillField(this)" class="btn btn-danger">Remove</button>
                                    </div>
                                </div>
                            }
                        </div>
                        <button type="button" onclick="addSkillField()" class="btn btn-primary">Add Skill</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        var skillIndex = @Model.Count;
    
        function addSkillField() {
            var container = document.getElementById('skillsContainer');
    
            var skillField = `
                <div class="form-group row">
                    <input type="hidden" name="skills[${skillIndex}].SkillId" value="0" />
                    <label class="col-sm-2 col-form-label">Skill Name:</label>
                    <div class="col-sm-4">
                        <input type="text" name="skills[${skillIndex}].Name" class="form-control" />
                    </div>
                    <label class="col-sm-2 col-form-label">Skill Value:</label>
                    <div class="col-sm-3">
                        <input type="number" name="skills[${skillIndex}].Value" class="form-control" min="0" max="100" />
                    </div>
                    <div class="col-sm-1">
                        <button type="button" onclick="removeSkillField(this)" class="btn btn-danger">Remove</button>
                    </div>
                </div>
            `;
    
            container.insertAdjacentHTML('beforeend', skillField);
            skillIndex++;
        }
    
        function removeSkillField(element) {
            var container = element.closest('.form-group');
            container.remove();
        }
    </script>
    